<div class="card">
  <div class="card-body">
    <h5 class="card-title"><h1>New Topic</h1></h5>
    <%= render 'form', topic: @topic %>
    <%= link_to 'Back', topics_path, class:"btn btn-primary my-2" %>
  </div>
</div>