<div class="card">
  <div class="card-body">
    <h5 class="card-title"><h1>New Pet</h1></h5>
    <%= render 'form', pet: @pet %>
    <%= link_to 'Back',pets_path, class:"btn btn-primary my-2" %>
  </div>
</div>
