<div class="card">
  <div class="card-body">
    <h5 class="card-title"><h1>New Review</h1></h5>
    <%= render 'form', review: @review %>
    <%= link_to 'Back', @review.pet, class:"btn btn-primary my-2" %>
  </div>
</div>
